{% extends "includes/base.html" %}
{% load static %}

{% block title %}Index | Dashboard{% endblock title %}
{% block custom_styles %}<link rel="stylesheet" href= '{% static "css/styles.css" %}' />{% endblock custom_styles %}
{% block content %}

    <div class="layout">

        {% include "includes/sidebar.html" %}

        <!-- Main content -->
        <div class="main-content">
            <!-- Header -->
            {% include "includes/header.html"%}

            <!-- Aquí va el contenido de la página -->
            <main>
                <h1>¡Hola, Ricardo!</h1>
                <p></p>
                <section class="content">
                    <div class="cards">
                        <a href="">
                            <div class="card">
                                <h3>Continuar viendo</h3>
                            </div>
                        </a>
                        <a href="">
                            <div class="card">
                                <h3>Cursos </h3>
                            </div>
                        </a>
                        <a href="">
                            <div class="card">
                                <h3>Perfil</h3>
                            </div>
                        </a>


                    </div>
                </section>
            </main>
        </div>
    </div>

{% endblock content %}
{% block scripts %}<script src='{% static "js/script.js" %}'></script>{% endblock scripts %}