{% extends 'base.html' %}
{% load static %}
{% block static_files %}
<link rel="stylesheet" href="{% static 'quotes/css/quotes_style.css' %}">
{% endblock %}
{% block titulo %}quotes | home{% endblock %}
{% block content %}
    {% include './includes/nav.html' %}
    <h1>Quotes per day</h1>
    <div>
        <p>Estas son los mensajes que tienes por día:</p>
        <ul>
            {% for day in days%}                
                <li><a href="{% url 'message_x_day' day %}">{{day}}</a></li>    
            {% endfor %}
        </ul>
    </div>
{% endblock %}