<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Mi web personal</title>
</head>
<body>
    <!-- Cabecera y Menu -->
    <h1>Mi web personal</h1>
    <ul>
        <li><a href='#'>Portada</a></li>
        <li><a href='#'>About</a></li>
        <li><a href='#'>Contacto</a></li>
        <li><a href='#'>Portafolio</a></li>
    </ul>

    <!-- Contenido a colocar -->
    {% block contenido %}{% endblock %}

</body>
</html>