{% extends "includes/base.html" %}
{% load static %}

{% block title %}Devilearn{% endblock title %}
{% block custom_styles %}<link rel="stylesheet" href= '{% static "css/styles.css" %}' />{% endblock custom_styles %}
{% block content %}
    <div class="layout">

        {% include "includes/sidebar.html" %}

        <!-- Main content -->
        <div class="main-content">
            
            {% include "includes/header.html"%}

            <!-- Aquí va el contenido de la página -->
            <main>
                <!-- === COURSE CARDS === -->

                <div class="carousel-wrapper">
                    <div class="course-grid">
                        
                        {% for curso in courses %}
                        <div class="course-card">
                            <a href="{% url 'course_detail' slug=curso.slug %}">
                                <img src= "{{curso.image}}" alt="Course Image" class="course-img" />
                                <div class="course-info">
                                    <div class="course-rating">
                                        <span class="tag beginner">{{curso.level}}</span>
                                        <div class="course-meta">
                                            <span><i class="fa-solid fa-star"></i> {{curso.rating}}</span>
                                        </div>
                                    </div>

                                    <h3 class="course-title">{{curso.title}}</h3>
                                    <div class="author"><img src={{curso.owner.user_instructor.photo}}
                                            alt=""><span>{{curso.owner.get_full_name}}</span></div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}

                    </div>
                    <div class="paginator">
                        
                        {% if courses.has_previous %}
                        <a href="?page=1&{{query_string}}">Primera</a>
                        <a href="?page={{courses.previous_page_number}}&{{query_string}}">Anterior</a>
                        {% endif %}

                        <span>Página {{courses.number}} de {{courses.paginator.num_pages}}</span>

                        {% if courses.has_next %}
                        <a href="?page={{courses.next_page_number}}&{{query_string}}">Siguiente</a>
                        <a href="?page={{courses.paginator.num_pages}}&{{query_string}}">Última</a>
                        {% endif %}

                    </div>
                </div>

            </main>
        </div>
    </div>
{% endblock content %}
{% block scripts %} <script src='{% static "js/script.js" %}'></script> {% endblock scripts %}