{% extends "includes/base.html" %}
{% load static %}

{% block title %}Lessons | Curso{% endblock title %}
{% block custom_styles %}
<link rel="stylesheet" href='{% static "css/lessons.css" %}'>
{% endblock custom_styles %}

{% block content %}
    <!-- HEADER SUPERIOR -->
    <header class="topbar">
        <div class="acciones">
            <div class="back-link"> <button class="discusiones">← Ve al panel de control</button></div>

        </div>
        <div class="logo"><img src="{% static 'images/devilearn.png' %}" alt="Logo devilearn"></div>
    </header>

    <!-- LAYOUT PRINCIPAL -->
    <div class="layout">
        <!-- SIDEBAR IZQUIERDA -->
        <aside class="sidebar">


            <h1 class="course-title">{{course.title}}</h1>
            <p class="progress">{{lesson.progress}}% completado</p>


            <input class="lesson-search" placeholder="Buscar...">
            <option>Buscar por título de lección</option>
            </select>

            <!-- SECCIONES -->
            <div class="accordion">
                {% for module in modules %}
                <div class="accordion-item">
                    <button class="accordion-header">Sección {{forloop.counter}}: {{module.title}} <span>0 / {{module.module_content.count}}</span></button>
                    <div class="accordion-content">
                        <ul>
                            {% for content in module.module_content.all %}
                            <li>{{content.item.title}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </aside>

        <!-- CONTENIDO PRINCIPAL (VIDEO) -->
        <main class="main-content">
            <div class="content-header">Introducción al curso</div>
            <div class="video-wrapper">
                <video controls
                    poster="https://placehold.co/800x450?text=Este+curso+est%C3%A1+en+proceso+de+construcci%C3%B3n">
                    <source src="video-demo.mp4" type="video/mp4">
                    Tu navegador no soporta videos.
                </video>
            </div>
            <div class="bottom-bar">
                <button class="btn-complete">COMPLETAR Y CONTINUAR →</button>
            </div>
        </main>
    </div>

{% endblock content %}
{% block scripts %}
<script src='{% static "js/multimedia.js" %}'></script>
{% endblock scripts %}
